.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100vh;
}

@media screen and (min-width: 1150px) {
  .logoNav {
    display: flex;
    margin-left: 20%;
  }
  
  .nav__list {
    display: flex;
    margin-right: 40px;
  }
  
  .nav__container {
    height: 12%;
  }
}

/* Style bodyMe */
