.supir {
height: 50px;
width: 50px;
position: absolute;
top: 150px;
background-color: white;
}
.supir:after {
  position: absolute;
  top: -25px;
  right: 5px;
  content: "\274c";
  font-size: 40px;
  color: red;
  line-height: 100px;
  text-align: center;
}

.kotak1 {
height: 50px;
width: 50px;
position: absolute;
left: auto;
top: 220px;
background-color: white;
color:black;
font-weight: bold;
font-family: monospace;
}

.kotak3, .kotak2 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 760px ;
  top: 220px;
  background-color: white;
  color:black;
  font-weight: bold;
  font-family: monospace;
}
.kotak2 {left: 600px;}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .kotak2 {
    left: 30%;
  }

  .kotak3 {
    left: 70%;
  }
}
